.app-icon {
    float: left;
    width: 80%;
    height: auto;
    top: 40px;
    text-align: center;
    image-rendering: -webkit-optimize-contrast;
}

#mainContainer {
    padding-top: 20px;
}

[class^=col-] {
    padding: 20px;
}

.buttonDiv {
    padding-top: 20px;
}

.col-4.alert-success {
    padding-left: 20px;
}

.form-check-label {
    position: relative;
    left: 5px;
}

#version {
    font-size: x-small;
    margin: 5px;
    position: fixed;
    bottom: 0px;
    padding:5px;
    line-height:1.2em;
}

#obmProjectForm {
    padding-top: 20px;
}

#versionBottom {
    font-size: x-small;
    margin: 5px;
    padding: 5px;
    line-height:1.2em;
}

#layerAttributeTable {
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#mapDiv {
    height: 600px;
}